@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        -Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors

5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
        - Col-Sm
        - Col-Md
        - Col-Lg

6.0 - Components: specific designed components
        6.0 - Components: specific designed components
        - Header
        - Images
        - Col-Sm-Ids
        - Col-Md-Ids
        - Col-Lg-IDs
        - Navigation
        - Footer

 7.0 - Utilities:
        - Screen Reader   
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
*, 
*:after,
 *:before {
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
}
html {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 15px;
}
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */
h1 {
        font-family: 'Pacifico', sans-serif;
        font-size: 5rem;
        font-weight: 400;
        color: #00B0A3;
        margin-bottom: 0;
}
body > header > div:last-child > div > div > p {
        font-size: 1.6rem;
        font-weight: 400;
        color: #00515D;
        line-height: 45px;
}
h2 {
        font-family: 'Pacifico', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        color: #00B0A3; 
}
h3 {
        font-size: 1.2rem;
        font-weight: 700;
        color: #00B0A3;
        margin: 0 auto;
}
h4 {
        font-size: 1.2rem;
        font-weight: 700;
        color: #00515D; 
}
p {
        font-size: 1rem;
        color: #00515D;
        line-height: 28px;
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 95%;
        margin: 0 auto;
}
.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}
.img-responsive {
        max-width: 100%;
}
/* [class*='col-'] div {
        background-color: #D9D9D9;
        height: 100%;
        padding: 5px;
} */
[class*='col-'] {
        padding: 5px;
}

/* ----- C0L-SM----- */

.col-sm-1 {
        width: calc(100% * 1 / 12);
}
.col-sm-2 {
        width: calc(100% * 2 / 12);
}
.col-sm-3 {
        width: calc(100% * 3 / 12);
}
.col-sm-4 {
        width: calc(100% * 4 / 12);
}
.col-sm-5 {
        width: calc(100% * 5 / 12);
}
.col-sm-6 {
        width: calc(100% * 6 / 12);
}
.col-sm-7 {
        width: calc(100% * 7 / 12);
}
.col-sm-8 {
        width: calc(100% * 8 / 12);
}
.col-sm-9 {
        width: calc(100% * 9 / 12);
}
.col-sm-10 {
        width: calc(100% * 10 / 12);
}
.col-sm-11 {
        width: calc(100% * 11 / 12);
}
.col-sm-12 {
        width: calc(100% * 12 / 12);
}

/* ----- C0L-MD----- */

@media screen and (min-width: 768px) {
        .wrapper {
                width: 80%;
        }
        [class*='col-'] {
                padding: 8px;
        }
        [col*='col-'] [col*='col-'] {
                margin-left: -8px;
                margin-right: -8px;
        }
        .col-md-1 {
                width: calc(100% * 1 / 12);
        }
        .col-md-2 {
                width: calc(100% * 2 / 12);
        }
        .col-md-3 {
                width: calc(100% * 3 / 12);
        }
        .col-md-4 {
                width: calc(100% * 4 / 12);
        }
        .col-md-5 {
                width: calc(100% * 5/ 12);
        }
        .col-md-6 {
                width: calc(100% * 6 / 12);
        }
        .col-md-7 {
                width: calc(100% * 7 / 12);
        }
        .col-md-8 {
                width: calc(100% * 8 / 12);
        }
        .col-md-9 {
                width: calc(100% * 9 / 12);
        }
        .col-md-10 {
                width: calc(100% * 10 / 12);
        }
        .col-md-11 {
                width: calc(100% * 11 / 12);
        }
        .col-md-12 {
                width: calc(100% * 12 / 12);
        }
}

/* ----- C0L-LG----- */

@media screen and (min-width: 1024px) {
        .wrapper {
                width: 70%;
        }
        [class*='col-'] {
                padding: 10px;
        }
        .col-lg-1 {
                width: calc(100% * 1 / 12);
        }
        .col-lg-2 {
                width: calc(100% * 2 / 12);
        }
        .col-lg-3 {
                width: calc(100% * 3 / 12);
        }
        .col-lg-4 {
                width: calc(100% * 4 / 12);
        }
        .col-lg-5 {
                width: calc(100% * 5 / 12);
        }
        .col-lg-6 {
                width: calc(100% * 6 / 12);
        }
        .col-lg-7 {
                width: calc(100% * 7 / 12);
        }
        .col-lg-8 {
                width: calc(100% * 8 / 12);
        }
        .col-lg-9 {
                width: calc(100% * 9 / 12);
        }
        .col-lg-10 {
                width: calc(100% * 10 / 12);
        }
        .col-lg-11 {
                width: calc(100% * 11 / 12);
        }
        .col-lg-12 {
                width: calc(100% * 12 / 12);
        }
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* ----- HEADER ----- */
body > header {
        text-align: center;
}
body > header > div:first-child {
        background-color: #fff;
        border-bottom: 4px solid #FFD8DB;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
}
body > header > div:last-child {
        background-color: #FFD8DB;
        margin-top: 125px;
}
/* ----- IMAGES ----- */
img {
        margin-bottom: -70px;
}
body > header > div:last-child > div {
        background: url(../img/balloons.jpg) no-repeat;
        background-size: contain;
        width: 90%;
        padding: 50px 0px 0px;
}

/* ----- COL-SM-IDS ----- */

#systems > div:last-child i {
        font-size: 1.7rem;
        color: #00515D;
}
#layout > section:first-of-type {
        text-align: center;
        background-color: #FFD8DB;
}
#benefits {
        text-align: center;
}
#benefits > div > section > div > i {
        font-size: 3rem;
        color: #00515D;
}
/* ----- COL-LG-IDS ----- */
@media screen and (min-width: 1024px) {
        img {
                margin: 0;
        }
        nav {
                text-align: right;
        }
        body > header > div:last-child {
                margin-top: 118px;
        }
        h1 {
                font-size: 6rem;
        }
        body > header > div:last-child > div > div {
                width: 40%;
                margin: 0 auto;
        }
        body > header > div:last-child > div > div > p {
                font-size: 1.6srem;
        }
        #systems > div {
                text-align: center;
        }
        #systems > div:last-child i {
                font-size: 3rem;
        }
        #layout {
                flex-direction: row-reverse;
        }
        #testing > div {
                background: url(../img/rainbow.jpg) no-repeat;
                background-size: contain;
        }
        #benefits > div {
                text-align: left;
        }
        footer > div {
                display: inline;
        }
        footer > div > nav > ul {
                margin: 0px;
        }
        footer > div > section > img {
                width: 129px;
        }
        footer .row {
                flex-direction: column-reverse ;
        }
}
/* ----- NAVIGATION ----- */

nav ul {
        list-style-type: none;
}
header > div > div > nav li {
        display: inline-block;
        margin: 25px 10px 0px 0px;
}
nav li > a {
        font: 16px 'Open Sans', sans-serif;
        text-decoration: none;
        color: #00B0A3;
        font-weight: 400;
        background-color: #fff;
        padding: 4px 8px;
        border-radius: 16px;
}
nav li > a:hover {
        text-decoration: none;
        color: #003833;
        background-color: #FFD8DB;
        padding: 4px 8px;
        border-radius: 16px;
}
/* ----- FOOTER ----- */
footer {
        border-top: 10px solid #FFD8DB;
        background-color: #fff;
}
footer > div > nav li {
        text-align: center;
        margin: 0px 30px 25px 0px;
}
footer > div > section,
footer > div > section > h4,
footer > div > section > p {
        text-align: center;
        margin: 0px 0px 0px 10px;
}
footer > div > section > h4 {
        margin: 40px 0px 0px 0px;
}
/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */

.col-center{
        justify-content: center;
}

/* ----- SCREEN READER ----- */